@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
}

.container form .inputBox input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .inputBox input:focus{
    border: 1px solid #000;
}

h1{
    background-color: aqua;
    padding: 20px;
    color:#504f4f;
}

.first{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.first img{
    margin-right: 10px;
    height: 32px;
}

.tarjetas{
    margin-top: 20px;
}

.tarjetas img{
    float: right;
    margin-right: 10px;
}

.tarjetas span{
    margin-top: 10px;
}
