@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
}

.container form .inputBox input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .inputBox input:focus{
    border: 1px solid #000;
}

.inputBox2{
    display: flex;
    margin-top: 20px;
}

.inputBox2 input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.inputBox2 input:focus{
    border: 1px solid #000;
}

.input1{
    margin-right: 10px;
}

.input2{
    margin-right: none;
}

h1{
    background-color: #5624d0;
    padding: 20px;
    color:#fff;
}

.radio1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.radio1 img{
    margin-right: 10px;
    height: 32px;
}

.tarjetas{
    margin-top: 20px;
}

.tarjetas img{
    float: right;
    margin-right: 10px;
}

.tarjetas span{
    margin-top: 10px;
}

.button {
    margin-top: 15px;
    display: flex;
    padding: 10px 20px;
    background-color: #5624d0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    float: right;
    }

    /* Estilo al pasar el cursor por encima del botón */
.button:hover {
    background-color: #785af6;
}

.radio2{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.radio2 img{
    margin-right: 10px;
    height: 64px;
}
